:root {
    /* colors */
    --black-100: #373636;
    --black-50: #828282;
    --black-75: #585656;
    --gray-100: #adb5b6;
    --gray-50: #e8ecec;
    --primary-100: #32bdf8;
    --primary-50: #f4fdff;
    --white-100: #ffffff;

    
}
  
  