.pengumuman-container {
    padding: 4rem var(--page-padding);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    overflow: hidden;
    margin-top: 10vh;
}

.pengumuman-list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}