.nav-container {
    overflow: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem var(--page-padding);
    background-color: var(--white-100);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 100%;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.active {
    font-weight: 600;
}